<div class="container">
  <div *ngIf="!Authorization" class="Auth">
    <label for="Auth">API Key</label>
    <input #Auth id="Auth" type="text">
    <button (click)="auth(Auth.value)" class="btn btn-primary">Add</button>
  </div>
  <div *ngIf="!Authorization" class="link">
    <span class="text-bottom">To get API key<a href="https://platform.openai.com/account/api-keys">click here</a></span>
  </div>
  <div >
    <p for="text" class="text-center">How Can I Help You: </p> 
    <input [disabled]="!Authorization" (keyup.enter)="getChunck(val.value)" #val type="text" id="text" class="form-control">
    <button [disabled]="!Authorization" type="button" for="text" class="btn btn-success" (click)="getChunck(val.value)">Submit</button>
    <div class="ans">
      <pre *ngIf="Answer">
        {{Answer}}
      </pre>
    </div>
  </div>
</div>
