<div class="container mt-4">
    <form [formGroup]="form" (ngSubmit)="getAns()">
        <p for="text" class="text-center">How Can I Help You: </p> 
        <input [attr.disabled]="Authorization? null:''" id="text" (keyup.enter)="getAns()" formControlName="question" type="text" id="text" class="form-control">
        <div>
          <button [disabled]="!Authorization" type="submit" class="btn btn-success sub">Submit</button>
          <button [disabled]="!Authorization" type="reset" class="btn btn-secondary sub">Clear</button>
          <button [disabled]="!Authorization" type="submit" class="start" (click)="stopService()">Stop</button>
          <button [disabled]="!Authorization" type="button" class="start" (click)="startService()">Start</button>
          <span class="start">Listen</span> 
        </div>
      </form>
      <div class="ans mt-4">
        <div *ngIf="loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white">
          <odp-loading-placeholder ></odp-loading-placeholder>
        </div>
        <textarea class="area" *ngIf="Answer && !loading" readonly>
          {{Answer}}
        </textarea>
    </div>
</div>
